In [3]:
test = read.csv("89-108 年台中槍砲彈藥刀持有統計.csv")

In [7]:
test

   嚜燕eriod gun gun.shot knife
1   89       274 2,604     78
2   90       338 4,212     64
3   91       345 2,823     32
4   92       370 4,044    117
5   93       427 11,295    67
6   94       374 2,600    102
7   95       316 3,770     37
8   96       286 1,921     41
9   97       247 1,935     14
10  98       185 1,823     56
11  99       171 2,268     16
12 100       167 1,456     25
13 101       147 1,250      9
14 102       157 1,726     11
15 103       256 2,351     16
16 104       196 3,081     11
17 105       436 1,973     17
18 106       195 5,071     12
19 107       240 3,448     26
20 108       136 1,598      4

In [8]:
test2 = read.csv("89-108 年台中刑案發生總數.csv")

In [9]:
test2

   刑案總數概況 X                    X.1 X.2 X.3
1  刑案總數概況 發生數(件) / 臺中市  NA  NA  NA
2  89年         59,317               NA  NA  NA
3  90年         70,794               NA  NA  NA
4  91年         74,695               NA  NA  NA
5  92年         72,466               NA  NA  NA
6  93年         78,216               NA  NA  NA
7  94年         79,807               NA  NA  NA
8  95年         71,035               NA  NA  NA
9  96年         66,048               NA  NA  NA
10 97年         51,593               NA  NA  NA
11 98年         35,931               NA  NA  NA
12 99年         32,078               NA  NA  NA
13 100年        29,170               NA  NA  NA
14 101年        28,533               NA  NA  NA
15 102年        28,252               NA  NA  NA
16 103年        28,512               NA  NA  NA
17 104年        27,888               NA  NA  NA
18 105年        27,475               NA  NA  NA
19 106年        26,741               NA  NA  NA
20 107年        25,496               NA  NA  NA
21 108年        24,670               NA  NA  NA

In [10]:
print(c(89, 108))

[1]  89 108